/* explorer button */


.explorer {
    text-align: center;
    & h2{
        font-size: 2rem;
    } 
    & p{
        font-size: 1rem;
    }
    & button{
        border: 0;
        padding: 0.75rem 1.5rem;
        font-weight: 500;
        font-size: 1.1rem;
        border-radius: 100px;
        color: #fff;
        background-color: #686868;
        background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
        cursor: pointer;
        transition-duration: .25s;
        box-shadow: 0.25rem 0.25rem 10px rgba(5, 0, 3, 0.233)
    }
    & button:hover{
        transform: scale(1.02);
        opacity: 0.85;
    }
}