  
 .menus {
     background-color: #f6f6f6;
     padding:0rem 2rem;
     padding-bottom: 2rem;

     h2 {
       margin-top: 1.5rem;
       margin-bottom: 1rem;
     }
 
     .menus_cards{
         display: grid;
         grid-template-columns: (1fr 1fr);
         gap: 2rem; 
         @media (max-width: 1100px) {
            grid-template-columns: (1fr);
         }
         .new {
            position: relative;
          }
          .new::before {
            content: "Nouveau";
            position: absolute;
            height: 2rem;
            width: 5rem;
            background-color: #99E2D0;
            color: darken(#99E2D0, 60%);
            display: grid;
            place-items: center;
            right: 1rem;
            top: 1rem;
          }
        }
     .card{
         &_image{
             height: 15rem;
             border-radius: 1rem 1rem 0 0;
             background-size: cover;
             background-position: center;
         }
         &_image-1 {
           background-image: url("../../img/menu1.jpg");
         }
         &_image-2 {
          background-image: url("../../img/menu2.jpg");
        }
        &_image-3 {
          background-image: url("../../img/menu3.jpg");
        }
        &_image-4 {
          background-image: url("../../img/menu4.jpg");
        }
         
         
         
         
         
        
        
        &_footer {
          padding: 1rem;
          position: relative;
          display: flex;
          align-items: center;
          background-color: white;
          color: black;
          border-radius: 0 0 1rem 1rem;
        }
          &_description {
            color: inherit;
          }
          
          i {
            font-size: 2rem;
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
          }
          .fas {
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            opacity: 0;
            transition: all 200ms ease-in-out;
            background-image: linear-gradient(to top,rgba(147,86,220,1),rgba(255,121,218,1));
          }
          .fas:hover {
            opacity: 1;
          transform: translateY(-50%) scale(1.2);
        }
      }
    }

  





      