body {
  background-color: #f6f6f6;
}

#page-resto header h1 {
  padding: 16px;
}

#page-resto header i {
  font-size: 2rem;
  position: absolute;
  padding: 1rem;
  left: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 30px;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

#page-resto .banner img {
  display: block;
  width: 100%;
  height: 24rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#page-resto .resto__title {
  margin-top: -2rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  position: relative;
}

#page-resto .resto__title h2 {
  font-family: "Shrikhand", "cursive";
  padding: 2rem 1rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
}

#page-resto .resto__title i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#page-resto .resto__title .fas {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(to top, #9356dc, #ff79da);
}

#page-resto .resto__title .fas:hover {
  opacity: 1;
  -webkit-transform: translateY(-50%) scale(1.2);
          transform: translateY(-50%) scale(1.2);
  cursor: pointer;
}

#page-resto .menus {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 64rem) {
  #page-resto .menus {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
  }
}

#page-resto .menus h3 {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  margin-bottom: 1rem;
}

#page-resto .menus h3::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 0;
  height: 0.25rem;
  width: 3rem;
  background-color: #99e2d0;
}

#page-resto .menus .menus__category {
  overflow: hidden;
  max-width: 100%;
}

#page-resto .menus .menus__category .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  margin: 0.5rem;
  -webkit-box-shadow: 2px 1px 8px -3px #7e7e7e;
          box-shadow: 2px 1px 8px -3px #7e7e7e;
  -webkit-animation: appear 1s;
          animation: appear 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

#page-resto .menus .menus__category .menu-item:nth-child(1) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

#page-resto .menus .menus__category .menu-item:nth-child(2) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

#page-resto .menus .menus__category .menu-item:nth-child(3) {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

#page-resto .menus .menus__category .menu-item .menu-item__price {
  margin-left: auto;
  font-weight: 900;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#page-resto .menus .menus__category .menu-item .menu-item__description {
  padding: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

#page-resto .menus .menus__category .menu-item .menu-item__description h4,
#page-resto .menus .menus__category .menu-item .menu-item__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#page-resto .menus .menus__category .menu-item .menu-item__check {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 0 1rem 1rem 0;
  background-color: #99e2d0;
  margin-right: -4rem;
  width: 4rem;
  -webkit-transition: margin-right 0.5s;
  transition: margin-right 0.5s;
}

#page-resto .menus .menus__category .menu-item .menu-item__check i {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: white;
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  color: #99e2d0;
}

#page-resto .menus .menus__category .menu-item:hover {
  cursor: pointer;
}

#page-resto .menus .menus__category .menu-item:hover .menu-item__check {
  margin-right: 0;
}

#page-resto .menus .menus__category .menu-item:hover i {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

#page-resto .order {
  height: 30vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#page-resto .order button {
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
  margin-top: 1rem;
  cursor: pointer;
  -webkit-box-shadow: 2px 1px 8px -3px #7e7e7e;
          box-shadow: 2px 1px 8px -3px #7e7e7e;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(to top, #9356dc, #ff79da);
}

#page-resto .order button:hover {
  opacity: 0.9;
  -webkit-box-shadow: 0.25rem 0.25rem 12px rgba(0, 0, 0, 0.9);
          box-shadow: 0.25rem 0.25rem 12px rgba(0, 0, 0, 0.9);
}
/*# sourceMappingURL=restaurants.css.map */