.ville{
    display: flex;
    align-items: center;
    justify-content: center;
     
    gap: 1rem;
    background-color: #f3f3f3;
    text-align: center;
    padding: 0.5rem;
    & i{
        font-size: 1.3rem;    
    }
}
.textarea{
    border: none;
    background-color: transparent;
    color: #000;
    font:bold 24px Roboto,sans-serif;
    outline: none;

}
.textarea:hover {
    background-color: white;
    //border: blueviolet;
    cursor: pointer;
}